$bg_color_0: #fff;
$bg_color_1: #332F85;
$bg_color_2: #ffffff;
$bg_color_3: #eee;
$bg_color_4: #3e4afa;

$text_color_0: #fff;
$text_color_1: #161b2e;
$text_color_2: #111525;
$text_color_3: #1a2431;

$btn_edit: #fff;
$btn_send: #3e4afa;
$btn_active: yellowgreen;
$btn_disactive: #df2525;
$btn_remove: #df2525;
$btn_cards: #fff;
$btn_add: #712cf9;

$message_error: #df2525;

$button-styles: (
    "add": (
        "bg": #3354F4,
        "color": #ffffff
    ),
    "invalid": (
        "bg": #f06292,
        "color": #ffffff
    ),
    "edit": (
        "bg": #64b5f6,
        "color": #ffffff
    ),
    "active": (
        "bg": #81c784,
        "color": #ffffff
    ),
    "wallet": (
        "bg": #ffb74d,
        "color": #ffffff
    ),
    "disactivited": (
        "bg": #cfd8dc,
        "color": #ffffff
    ),
    "history": (
        "bg": #ce93d8,
        "color": #ffffff
    ),
    "pending": (
        "bg": #ffb74d,
        "color": #ffffff
    ),
    "accepted": (
        "bg": #a5d6a7,
        "color": #ffffff
    ),
    "rejected": (
        "bg": #ef5350,
        "color": #ffffff
    ),
    "delete": (
        "bg": #e57373,
        "color": #ffffff
    ),
    "send": (
        "bg": #9c27b0,
        "color": #ffffff
    ),
    "switcher": (
        "bg": #009688,
        "color": #ffffff
    )
);












