@import "global";
@import "../layouts/aside";
@import "../layouts/main";

body {
    font-family: "sf-pro-rounded";
    height: 100dvh;
    display: flex;
    flex-flow: row nowrap;
}

main {
    flex: 1;
}
