.aside {
    margin: 142px 0 24px;


    .list {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 48px;

        ul {
            display: flex;
            flex-flow: column nowrap;
            row-gap: 24px;
        }

        a {
            color: #252C58;
            text-decoration: none;
            text-transform: capitalize;

            height: 29px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            column-gap: 12px;
            padding-left: 0;
            padding-right: 24px;
            transition-duration: 0.2s;


            &::before {
                content: '';
                display: block;
                width: 12px;
                height: 100%;
                border-radius: 0 6px 6px 0;
                background-color: #3353f400;
                transition-duration: 0.2s;
            }

            &:hover,
            &.selected {
                &::before {
                    background-color: #3354F4;
                }
            }

            i {
                width: 24px;
                height: 24px;

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}