.nav-btn {
    width: 48px;
    height: 48px;
    border-radius: 24px;

}

:is(a,button)[class$='-button'] {
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.head-button,
.head-border-button {
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 12px;

    display: flex;
    flex-flow: row nowrap;
    column-gap: 12px;

    svg {
        width: 24px;
        height: 24px;
    }
}

@each $type, $styles in $button-styles {
    .head-button.#{$type},
    .#{$type}-button {
        background-color: map-get($styles, bg);
        color: map-get($styles, color);

        svg {
            .fill {
                fill: map-get($styles, color);
            }

            .stroke {
                stroke: map-get($styles, color);
            }
        }

        &:hover {
            background-color: darken(map-get($styles, bg), 10%);
        }
    }

    .head-border-button.#{$type},
    .#{$type}-border-button {
        border-color: map-get($styles, bg);
        color: map-get($styles, bg);

        svg {
            .fill {
                fill: map-get($styles, bg);
            }

            .stroke {
                stroke: map-get($styles, bg);
            }
        }

        &:hover {
            background-color: darken(map-get($styles, color), 10%);
        }
    }
}


.controllers {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 12px;

    a {
        display: inline-block;

        border-radius: 12px;
        height: 48px;
        padding: 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;


        font-weight: 500;

        &:has(i) {
            background-color: #857878;
            color: #ffffff;
        }

        &:not(:has(i)) {
            border: 2px solid #857878;
            color: #857878;
        }
    }
}
