@import "../variables/colors";
@import "../variables/fonts";
@import "./message";
@import "./aside";
@import "./navigation";
@import "./main";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    font-family: "sf-pro-rounded";
    display: flex;
    flex-flow: row nowrap;
}

a,
button {
    cursor: pointer;
}

i {
    display: flex;
    justify-content: center;
    align-items: center;
}