.main_nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    i {
        width: 24px;
        height: 24px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        column-gap: 12px;
    }

    .user_pic {
        width: 48px;
        height: 48px;
        border-radius: 12px;
        overflow: hidden;
        object-fit: cover;
        object-position: center center;
    }
    .user_name {
        color: $text_color_1;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 600;
    }

    .search {
        position: relative;
        width: 250px;
        height: 48px;
        border-radius: 24px;
        overflow: hidden;

        i {
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
            color: transparentize($text_color_1, 0.65);
        }
        .bar {
            position: absolute;
            top: 50%;
            left: 60px;
            transform: translateY(-50%);
            width: 2.5px;
            height: 24px;
            background-color: transparentize($text_color_1, 0.65);
            border-radius: 1.25px;
        }
        input {
            width: 100%;
            height: 100%;
            background-color: #1a2431;
            border: none;
            outline: none;
            padding-left: 84px;
            color: $text_color_1;
            font-size: 16px;
            text-transform: capitalize;
            font-weight: 500;

            &::placeholder {
                color: transparentize($text_color_1, 0.65);
            }
        }
    }

    .nav-options {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        column-gap: 24px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $text_color_1;
            border: none;
        }

        .date {
            height: 48px;
            border-radius: 24px;
            background-color: #1a2431;
            column-gap: 12px;
            padding: 0 12px;

            .range {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                font-size: 16px;

                i {
                    font-size: 14px;
                }
            }
        }
        .square-btn {
            background-color: transparent;
            flex-flow: column nowrap;

            span {
                width: 24px;
                height: 14px;
                background-color: yellow;
                color: #1a2431;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                line-height: 8px;
                border-radius: 8px;
            }
        }
    }
}
