.main-table {
    position: relative;
    width: 100%;

    overflow-y: auto;

    table {
        width: 100%;
        border-collapse: collapse;

        @for $i from 1 through 3 {
            .actions.btn-#{$i} {
                width: (130px * $i + 6px * ($i - 1));
            }
        }
    }


    thead {
        tr {
            th {
                background-color: #ffffff;
                color: #252C58;
                font-weight: 500;
                text-transform: capitalize;

                span {
                    display: block;
                    height: 100%;
                    border-bottom: 2px solid transparentize(#252C58, 0.92);
                    padding-bottom: 12px;

                    &:first-child {
                        // padding-left: 12px;
                        // border-radius: 12px 0 0 12px;
                    }

                    &:last-child {
                        // padding-right: 12px;
                        // border-radius: 0 12px 12px 0;
                    }
                }

                position: sticky;
                top: 0;
                z-index: 1;
            }
        }
    }

    tbody {
        tr {
            transition-duration: 0.3s;

            &:hover td {
                background-color: transparentize(#252C58, 0.98);
            }
        }

        td {
            height: 62px;
            font-weight: 300;
            text-transform: capitalize;

            &:first-child {
                border-radius: 12px 0 0 12px;
            }

            &:last-child {
                border-radius: 0 12px 12px 0;
                padding-right: 12px;
            }
        }

        .actions {
            display: inline-flex;
            flex-flow: row nowrap;
            column-gap: 6px;

            &#{-1} {
                width: 140px;
            }

            a {
                display: inline-block;
                width: 130px;
                height: 30px;

                color: #252C58;
                background-color: $bg_color_0;
                font-weight: 500;
                text-decoration: none;

                flex-flow: row nowrap;
                column-gap: 6px;
                padding: 0 12px;
                border-radius: 6px;

                &,
                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &.show,
                &.send {
                    background-color: $btn_send;
                    color: #ffffff;
                }

                &.edit {
                    background-color: $btn_edit;
                    border: 2px solid #252C58;
                }

                &.active {
                    background-color: $btn_active;
                }

                &.disactive {
                    background-color: $btn_disactive;
                }

                &.annulation {
                    background-color: $btn_remove;
                }
            }
        }
    }

    .actions:last-child {
        width: 422px;
    }

    th,
    td {
        text-align: left;
    }
}