.main-table {
    position: relative;
    width: 100%;

    color: $text_color_1;
    overflow-y: auto;

    transition: scrollbar-color 0.5s, scrollbar-width 0.5s;
    scrollbar-width: none;
    scroll-behavior: smooth;

    table {
        width: 100%;
        border-collapse: collapse;

        @for $i from 1 through 3 {
            .actions.btn-#{$i} {
                width: (130px * $i + 6px * ($i - 1));
            }
        }
    }

    thead {
        tr {
            th {
                background-color: $bg_color_2;
                color: $text_color_1;
                font-weight: 600;
                text-transform: capitalize;

                position: sticky;
                top: 0;
                z-index: 1;

                &:first-child {
                    padding-left: 12px;
                    border-radius: 12px 0 0 12px;
                }

                &:last-child {
                    padding-right: 12px;
                    border-radius: 0 12px 12px 0;
                }
            }
        }
    }

    tbody {
        tr {
            transition-duration: 0.2s;

            &:hover td {
                background-color: transparentize(#000, 0.96);
                opacity: 1;
            }
        }

        td {
            height: 62px;
            font-weight: 600;
            text-transform: capitalize;
            opacity: 0.75;

            &:first-child {
                border-radius: 12px 0 0 12px;
                padding-left: 12px;
            }

            &:last-child {
                border-radius: 0 12px 12px 0;
                padding-right: 12px;
            }
        }

        .actions {
            display: inline-flex;
            flex-flow: row nowrap;
            column-gap: 6px;

            &#{-1} {
                width: 140px;
            }

            a {
                display: inline-block;
                width: 130px;
                height: 30px;

                color: $text_color_3;
                background-color: $bg_color_0;
                text-decoration: none;

                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                column-gap: 6px;
                padding: 0 12px;
                border-radius: 6px;

                &.active {
                    background-color: $btn_active;
                }

                &.disactive {
                    background-color: $btn_disactive;
                }
            }
        }
    }

    .actions:last-child {
        width: 422px;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
    }
}